# COS Pro 2급 Python 모의고사
주소 : https://programmers.co.kr/learn/courses/33

## Part1. 빈칸 채우기
### 1. n부터 m까지 자연수의 합

- 두 자연수 n부터 m까지의 합을 구하려고 합니다. 이를 위해 다음과 같이 3단계로 간단히 프로그램 구조를 작성했습니다.  
1. 1부터 m까지의 합을 구합니다.
2. 1부터 n-1까지의 합을 구합니다.
3. 1번 단계에서 구한 값에서 2번 단계에서 구한 값을 뺍니다.

In [1]:
def func_a(k):
    sum = 0
    for i in range(k+1):
        sum += i

    return sum

def solution(n, m):
    sum_to_m = func_a(m)
    sum_to_n = func_a(n-1)
    answer = sum_to_m - sum_to_n
    return answer

print(solution(5, 10))
print(solution(6, 6))

45
6

### 2. 총점
- 한 학생의 과목별 점수가 들어있는 배열이 주어졌을 때, 이 학생의 최고 점수와 최저 점수를 제외한 나머지 점수들의 합계를 구하려 합니다. 이를 위해 다음과 같이 4단계로 프로그램 구조를 작성했습니다.  
1. 모든 과목 점수의 합을 구합니다.
2. 최고 점수를 구합니다.
3. 최저 점수를 구합니다.
4. (모든 과목 점수의 합) - (최고 점수) - (최저 점수)의 값을 return 합니다.

In [2]:
def func_a(s):
    ret = 0
    for i in s:
        if i > ret:
            ret = i
    return ret

def func_b(s):
    ret = 0
    for i in s:
        ret += i
    return ret

def func_c(s):
    ret = 101
    for i in s:
        if i < ret:
            ret = i
    return ret

def solution(scores):
    sum = func_b(scores)
    max_score = func_a(scores)
    min_score = func_c(scores)
    return sum - max_score - min_score

scores = [50, 35, 78, 91, 85]
print(solution(scores))

213

### 3. 공항 방문객
- XX 공항에서 N 일 동안 매일 공항 방문객 수를 조사했습니다. 이때, 가장 많은 방문객 수와 두 번째로 많은 방문객 수의 차이를 구하려고 합니다. 단, 방문객의 수가 같은 날은 없다고 가정합니다. 이를 위해 다음과 같이 4단계로 간단히 프로그램 구조를 작성했습니다.  
1. 입력으로 주어진 배열에서 가장 많은 방문객 수를 찾습니다.
2. 1번 단계에서 찾은 값을 제외하고, 나머지 값들로 이루어진 새로운 배열을 만듭니다.
3. 2번 단계에서 만든 새로운 배열에서 가장 큰 방문객의 수를 찾습니다.
4. 1번 단계와 3번 단계에서 구한 값의 차이를 구합니다.

In [3]:
def func_a(arr, n):
    ret = []
    for x in arr:
        if x != n:
            ret.append(x)
    return ret

def func_b(a, b):
    if a >= b:
        return a - b
    else:
        return b - a

def func_c(arr):
    ret = -1
    for x in arr:
        if ret < x:
            ret = x
    return ret

def solution(visitor):
    max_first = func_c(visitor)
    visitor_removed = func_a(visitor, max_first)
    max_second = func_c(visitor_removed)
    answer = func_b(max_first, max_second)
    return answer

visitor = [4,7,2,9,3]
print(solution(visitor))

2

### 4. 학점 계산
- XX 학교에서는 다음과 같이 학생들의 점수에 따라 학점을 부여합니다.
1. 85점 ~ 100점 : A 학점
2. 70점 ~ 84점 : B 학점
3. 55점 ~ 69점 : C 학점
4. 40점 ~ 54점 : D 학점
5. 0점 ~ 39점 : F 학점

In [4]:
def solution(scores):
    grade_counter = [0 for i in range(5)]
    for x in scores:
        if x >= 85:
            grade_counter[0] += 1
        elif x >= 70:
            grade_counter[1] += 1
        elif x >= 55:
            grade_counter[2] += 1
        elif x >= 40:
            grade_counter[3] += 1
        else:
            grade_counter[4] += 1
    return grade_counter

scores = [86,72,98,60,45]
print(solution(scores))

[2, 1, 1, 1, 0]

### 5. 개구리
- 개구리가 일정한 간격으로 일렬로 놓여있는 징검다리를 건너려고 합니다. 징검다리에는 자연수가 적혀있으며, 개구리는 자신이 밟고 있는 징검다리에 적혀있는 숫자만큼 앞쪽으로 점프해야 합니다. 개구리는 현재 첫 번째 징검다리 위에 앉아있습니다.

In [5]:
def solution(stones):
    cnt = 0
    current = 0
    n = len(stones)
    while current<n:
        current += stones[current]
        cnt += 1
    return cnt

stones = [2,5,1,3,2,1]
solution(stones)

3

## Part2. 한 줄 바꾸기
### 1. 키가 K보다 큰사람

- 학생들의 키가 들어있는 목록에서 키가 k보다 큰 사람은 몇 명인지 구하려합니다.

In [6]:
def solution(height, k):
    answer = 0
    n = len(height)
    for h in height:
        if h > k: # h>=k -> h>k
            answer += 1
    return answer

height = [165, 170, 175, 180, 184]

solution(height, 175)

2

### 2. 알파벳 바꾸기
- 문자열이 주어졌을 때, 문자열에서 'a'는 'z'로, 'z'는 'a'로 바꾸려고 합니다. 예를 들어 주어진 문자열이 "abz"라면 "zba"라는 문자열을 만들면 됩니다.

In [7]:
def solution(s):
    s_lst = list(s)
    n = len(s)
    for i in range(n):
        if s_lst[i] == 'a':
            s_lst[i] = 'z'
        elif s_lst[i] == 'z':
            s_lst[i] =  'a'
    return "".join(s_lst)

s = "abz"
solution(s)

'zba'

### 3. 이름에 "j" 또는 "k"가 들어가는 사람
- 학생들의 이름이 들어있는 명단에서 이름에 j 또는 k가 들어가는 학생의 수를 구하려고 합니다. 예를 들어 "james"에는 j가 들어가 있으며, "jack"에는 j와 k가 모두 들어있습니다.

In [8]:
def solution(name_list):
    answer = 0
    for name in name_list:
        for n in name:
            if n == 'j' or n == 'k':
                answer += 1
                break
    return answer

name_list = ["james", "luke", "oliver", "jack"]
solution(name_list)

3

## Part3. 함수 작성
### 1. 거스름돈

- 고객이 구매한 물건들의 가격과 지불 금액이 주어졌을 때, 거스름돈을 얼마나 줘야 하는지 구하려 합니다.
- 예를 들어 구매한 물건들의 가격이 [2100, 3200, 2100, 800]이라면 총 구매금액은 8200원입니다. 이때, 고객이 10000원을 지불했다면 1800원을 거슬러 주면 됩니다.
- 고객이 구매한 물품들의 가격이 들어있는 배열 price와 지불한 금액 money가 매개변수로 주어질 때, 거슬러 줘야 하는 금액을 return 하도록 solution 함수를 완성해주세요.

In [9]:
def solution(price, money):
    answer = 0
    
    if sum(price) > money:
        answer = -1
    else:
        answer = money - sum(price)
        
    return answer

price = [2100, 3200, 2100, 800]
money = 10000

solution(price, money)

1800

### 2. k번째로 작은 수
- 자연수가 담겨있는 n x 4 크기의 2차원 배열에서 k번째로 작은 수를 찾으려 합니다. 이때, n은 배열의 세로길이, 4는 배열의 가로길이입니다. 예를 들어 다음은 자연수가 담겨있는 4 x 4 크기의 2차원 배열입니다.

In [10]:
def solution(arr, k):
    answer = 0
    list = []
    
    for i in arr:
        for j in i:
            list.append(j)
            
    list.sort()
    answer = list[k-1]
    
    return answer

arr = [[5,12,4,31],[24,13,11,2],[43,44,19,26],[33,65,20,21]]
k = 4

solution(arr, k)

11